@model IEnumerable<Category>

<div class="text-center">
    <h1 class="display-4">Welcome to Categories</h1>
    
    <h1>Something</h1>
</div>


<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
             <th>
                 Category name
             </th>
            <th>
                Display order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td width="50%">
                    @item.Name
                </td>
                <td width="50%">
                    @item.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>
